[package]
name = "mrml"
description = "Rust implementation of MJML renderer"
keywords = ["email", "mjml"]
version = "1.2.9"
authors = ["Jérémie Drouet <jeremie.drouet@gmail.com>"]
edition = "2018"
license-file = "license.md"
readme = "readme.md"

include = ["src/*", "Cargo.toml"]

[badges]
codecov = { repository = "jdrouet/mrml", branch = "main" }
travis-ci = { repository = "jdrouet/mrml", branch = "main" }

[features]
default = ["json", "parse", "print", "render"]
json = ["serde", "serde_json"]
parse = ["xmlparser"]
print = []
render = ["rand"]
orderedmap = ["indexmap", "rustc-hash"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = { default-features = false, features = ["std", "std_rng"], version = "0.8", optional = true }
serde = { version = "1.0", optional = true, features = ["derive"] }
serde_json = { version = "1.0", optional = true }
xmlparser = { version = "0.13", optional = true }
indexmap = { version = "1.7", features = ["serde-1"], optional = true }
rustc-hash = { version = "1.1", optional = true }

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "basic"
path = "benches/basic.rs"
harness = false

[[bench]]
name = "template"
path = "benches/template.rs"
harness = false
