version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/packages/mrml-cli"
    schedule:
      interval: "daily"

  - package-ecosystem: "cargo"
    directory: "/packages/mrml-core"
    schedule:
      interval: "daily"
