[package]
name = "mrml-python"
description = "Python wrapping on MRML"
keywords = ["email", "mjml"]
version = "0.1.15"
authors = ["Jérémie Drouet <jeremie.drouet@gmail.com>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/jdrouet/mrml/"
readme = "readme.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "mrml"
crate-type = ["cdylib"]

[dependencies]
mrml = { version = "4.0.1", path = "../mrml-core", features = [
  "http-loader-ureq",
  "local-loader",
] }
pyo3 = { version = "0.21.2", features = ["extension-module"] }
