[package]
name = "mrml-python"
description = "Python wrapping on MRML"
keywords = ["email", "mjml"]
version = "0.2.2"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "readme.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "mrml"
crate-type = ["cdylib"]

[dependencies]
mrml = { version = "6.0.0", path = "../mrml-core", features = [
    "http-loader-ureq",
    "local-loader",
    "css-inline",
] }
pyo3 = { version = "0.24", features = ["extension-module"] }
