[package]
name = "mrml-python"
description = "Python wrapping on MRML"
keywords = ["email", "mjml"]
version = "0.1.4"
authors = ["Jérémie Drouet <jeremie.drouet@gmail.com>"]
edition = "2021"
license-file = "license.md"
repository = "https://github.com/jdrouet/mrml/"
readme = "readme.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "mrml"
crate-type = ["cdylib"]

[dependencies]
mrml = { version = "3.0.3", path = "../mrml-core" }
pyo3 = { version = "0.20.0", features = ["extension-module"] }
