[package]
name = "mrml-cli"
description = "CLI for the Rust implementation of MJML renderer"
keywords = ["cli", "email", "mjml"]
version = "1.4.4"
authors = ["Jérémie Drouet <jeremie.drouet@gmail.com>"]
license-file = "license.md"
edition = "2018"
readme = "readme.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
path = "src/main.rs"
name = "mrml"

[dependencies]
mrml = { version = "3.0", path = "../mrml-core" }
clap = { version = "4.3", features = ["derive"] }
env_logger = "0.11"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
