[package]
name = "mrml-cli"
description = "CLI for the Rust implementation of MJML renderer"
keywords = ["cli", "email", "mjml"]
version = "0.3.3"
authors = ["Jérémie Drouet <jeremie.drouet@gmail.com>"]
license-file = "license.md"
edition = "2018"
readme = "readme.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
path = "src/main.rs"
name = "mrml"

[dependencies]
mrml = { path = "../library", version = "0.4.0" }
clap = "3.0.0-beta.2"
