on:
  push:
    paths:
      - .github/workflows/*.yml
      - packages/mrml-cli/**
      - packages/mrml-core/**
      - packages/mrml-wasm/**
      - Cargo.lock
      - Cargo.toml

env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  code-checking:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}-code-checking
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt,clippy

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-code-checking-${{ hashFiles('**/Cargo.lock') }}

      - name: run lint
        run: cargo fmt --all --check

      - name: run check
        run: cargo check --all-features --tests --workspace

      - name: run clippy
        run: cargo clippy --all-targets --all-features --tests --workspace
