name: mrml-cli

on:
  merge_group:
    types: [checks_requested]
  workflow_call:
  pull_request:
    paths:
      - '.github/workflows/mrml-cli-main.yml'
      - 'Cargo.lock'
      - 'Cargo.toml'
      - 'packages/mrml-cli/**'
      - 'packages/mrml-core/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/mrml-cli-main.yml'
      - 'Cargo.lock'
      - 'Cargo.toml'
      - 'packages/mrml-cli/**'
      - 'packages/mrml-core/**'

env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  testing:
    runs-on: ubuntu-latest
    container: rust:1-bullseye

    concurrency:
      group: ${{ github.ref }}-mrml-cli-testing
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-testing-${{ hashFiles('**/Cargo.lock') }}

      - name: run tests
        run: cargo test -p mrml-cli

  building:
    runs-on: ubuntu-latest
    container: rust:1-bullseye

    concurrency:
      group: ${{ github.ref }}-mrml-cli-building
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-testing-${{ hashFiles('**/Cargo.lock') }}

      - name: building the cli binary
        run: cargo build --package mrml-cli --release

      - name: publish file size metric
        run: |
          FILE_SIZE=$(du -sb target/release/mrml | awk '{ print $1 }')
          curl https://ci-metrics.eu/binaries/cimetrics-cli-amd64 -o ./cimetrics-cli
          chmod +x ./cimetrics-cli
          ./cimetrics-cli --verbose --token ${{ secrets.CODEBENCH_TOKEN }} publish mrml-cli.binary.size $FILE_SIZE
