name: mrml-python

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/mrml-python-main.yml"
      - "Cargo.lock"
      - "Cargo.toml"
      - "packages/mrml-core/**"
      - "packages/mrml-python/**"
  pull_request:
    paths:
      - ".github/workflows/mrml-python-main.yml"
      - "Cargo.lock"
      - "Cargo.toml"
      - "packages/mrml-core/**"
      - "packages/mrml-python/**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  testing:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.13"]

    concurrency:
      group: ${{ github.ref }}-mrml-python-${{ matrix.python-version }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v4

      - name: setup python
        if: matrix.python-version != '3.13'
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      # Use deadsnakes until https://github.com/actions/setup-python/issues/771 is closed
      - name: setup python
        if: matrix.python-version == '3.13'
        uses: deadsnakes/action@v3.2.0
        with:
          python-version: ${{ matrix.python-version }}
          nogil: true

      - name: install cargo toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - name: install maturin
        run: cargo install maturin --locked

      - name: init python venv
        run: |
          pip install --upgrade pip
          python3 -m venv env
          source env/bin/activate
          python3 -m pip install pytest
          maturin develop
          python3 -m pytest
        working-directory: packages/mrml-python
